# Explora aquí

Se recomienda utilizar este cuaderno con fines de exploración.

In [3]:
import os
from bs4 import BeautifulSoup
import requests
import time
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [ ]:
import requests
import io


# URL de Wikipedia
# url = "https://en.wikipedia.org/wiki/List_of_Spotify_streaming_records"
# tables = pd.read_html(url) 

url = "https://en.wikipedia.org/wiki/List_of_Spotify_streaming_records"

response = requests.get(url)
html = io.StringIO(response.text)
tables = pd.read_html(html)

In [5]:
print(f"Se encontraron {len(tables)} tablas.")

Se encontraron 27 tablas.

In [6]:
df = tables[0]

In [7]:
df.head(10)

,Rank,Song,Artist(s),Streams (billions),Release date,Ref.
0,1,"""Blinding Lights""",The Weeknd,4.836,29 November 2019,[2]
1,2,"""Shape of You""",Ed Sheeran,4.357,6 January 2017,[3]
2,3,"""Someone You Loved""",Lewis Capaldi,3.901,8 November 2018,[4]
3,4,"""Starboy""",The Weeknd and Daft Punk,3.889,21 September 2016,[5]
4,5,"""As It Was""",Harry Styles,3.873,1 April 2022,[6]
5,6,"""Sunflower""",Post Malone and Swae Lee,3.812,18 October 2018,[7]
6,7,"""Sweater Weather""",The Neighbourhood,3.768,3 December 2012,[8]
7,8,"""One Dance""",Drake with Wizkid and Kyla,3.629,5 April 2016,[9]
8,9,"""Stay""",The Kid Laroi and Justin Bieber,3.548,9 July 2021,[10]
9,10,"""Perfect""",Ed Sheeran,3.431,26 September 2017,[11]

In [13]:
print(df.shape)
print(type(df))

(101, 6)
<class 'pandas.core.frame.DataFrame'>

In [ ]:
df_two = tables[1]
print(df_two.head())  # imprimir tabla 1 pero sin el response la tabla no se ve bien

  Rank         Artist     Top 100            Top 10       3 billion+ streams  \
  Rank         Artist Total songs Lead Feat.   Lead Feat.               Lead
0    1     Bruno Mars           6    5     1    NaN   NaN                NaN
1    2     The Weeknd           5    5   NaN      2   NaN                  2
2    2       Dua Lipa           5    3     2    NaN   NaN                NaN
3    3     Ed Sheeran           4    4   NaN      2   NaN                  2
4    3  Justin Bieber           4    3     1    NaN     1                NaN

        4 billion+ streams
  Feat.               Lead Feat.
0   NaN                NaN   NaN
1   NaN                  1   NaN
2   NaN                NaN   NaN
3   NaN                  1   NaN
4     1                NaN   NaN